(pre-define
  db-count-t ui32
  db-fields-len-t ui8
  db-field-type-t ui8
  db-id-mask UINT64_MAX
  db-id-t ui64
  db-index-len-t ui8
  db-name-len-max UINT8_MAX
  db-name-len-t ui8
  db-data-len-t ui32
  db-data-len-max UINT32_MAX
  db-ordinal-t ui32
  db-type-id-mask UINT16_MAX
  db-type-id-t ui16)