(pre-define db-id-t ui64
  db-ordinal-t ui32
  db-id-max UINT64_MAX
  ;data can not be greater than lmdb max keysize, which is 511 by lmdb default but can be adjusted with recompiling lmdb
  db-size-data-max 511
  db-size-data-min 1
  db-size-id (sizeof db-id-t) db-size-ordinal (sizeof db-ordinal-t))

(pre-define (db-id-equal? a b) (= a b))
(pre-define (db-id-compare a b) (if* (< a b) -1 (> a b)))
(pre-define (db-pointer->id a index) (pointer-get (+ index (convert-type a db-id-t*))))
